html{
  scroll-behavior: smooth;
}

/* GLOBAL */
.heading-site{
  text-align: center;
  font-family: 'Montserrat' , sans-serif;
}
.COLORED{
  height: 400px;
  width: 100%;
  background-color: #3498db;
  padding: 30px;
  text-align: center;
}

/* HEADER */

.header{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 70px;
  line-height: 70px;
  background-color: rgba(3,3,3,0.8);
  position: fixed;
  top: 0;
  z-index: 99;
}

.header .header-logo{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  float: left;
  margin-left: 30px;
}

.header .header-menu{
  float: right;
  margin-right: 30px;
}

.header .header-menu a{
  margin-right: 15px;
  color: white;
}

.header .header-menu a:hover{
  color: #3498db;
}

/*BANNER*/

.banner{
  transform: translateY(-53%);
}

.banner .banner-image{
  transform: translateY(50%);
}

.banner .banner-content{
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.banner .banner-content h1,
.banner .banner-content h2{
  color: white;
  text-shadow: black  1px 0 20px;;
}

.about .about-single-element .icon{
  font-size: 24px;
}

.about .about-single-element {
  text-align: center;
}

.about .about-single-element p{
  text-align: left;
  margin-top: 20px;
}

/* FOOTER */

.footer .footer-informations{
  text-align: center;
  margin-top: 30px;
}

.footer .footer-informations ul{
  padding: 0;
}

.footer .footer-informations ul li{
  display: inline-block;
  list-style-type: none;
}
